@import '_vars.scss';

.Opening {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-image: url(../imgs/background.jfif);
    color: $primary_background;
}

h1 {
    color: $accent_orange;
    background: rgba(0,0,0,0);
    font-size: 3em;
}

.textContainer {
    background: rgba(0, 0, 0, 0.65);
    align-content:flex-start;
}